{% comment %}
---------------------------------------------------------
Copyright © 2023 Section Store. All rights reserved.
Unauthorized copying, modification, distribution, or use
of this code or any portion of it, is strictly prohibited.
Violators will be prosecuted to the fullest extent of the law.
For inquiries or permissions, contact daniel@section.store
---------------------------------------------------------
{% endcomment %}

{%- liquid 
  assign padding_horizontal = section.settings.padding_horizontal
  assign padding_horizontal_mobile = section.settings.padding_horizontal_mobile
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign border_color = section.settings.border_color
  assign border_thickness = section.settings.border_thickness
  assign margin_top = section.settings.margin_top
  assign margin_bottom = section.settings.margin_bottom
  assign background_color = section.settings.background_color
  assign background_gradient = section.settings.background_gradient
  assign full_width = section.settings.full_width
  assign content_width = section.settings.content_width
  assign lazy = section.settings.lazy

  assign heading = section.settings.heading
  assign heading_size = section.settings.heading_size
  assign heading_size_mobile = section.settings.heading_size_mobile
  assign heading_color = section.settings.heading_color
  assign heading_custom = section.settings.heading_custom
  assign heading_font = section.settings.heading_font
  assign heading_height = section.settings.heading_height
  assign heading_align = section.settings.heading_align
  assign heading_align_mobile = section.settings.heading_align_mobile

  assign sub_heading = section.settings.sub_heading
  assign sub_heading_size = section.settings.sub_heading_size
  assign sub_heading_size_mobile = section.settings.sub_heading_size_mobile
  assign sub_heading_color = section.settings.sub_heading_color
  assign sub_heading_custom = section.settings.sub_heading_custom
  assign sub_heading_font = section.settings.sub_heading_font
  assign sub_heading_height = section.settings.sub_heading_height
  assign sub_heading_align = section.settings.sub_heading_align
  assign sub_heading_align_mobile = section.settings.sub_heading_align_mobile
  assign sub_heading_mt = section.settings.sub_heading_mt
  
  assign button = section.settings.button
  assign button_url = section.settings.button_url
  assign button_size = section.settings.button_size
  assign button_size_mobile = section.settings.button_size_mobile
  assign button_color = section.settings.button_color
  assign button_hover_color = section.settings.button_hover_color
  assign button_custom = section.settings.button_custom
  assign button_font = section.settings.button_font
  assign button_mt = section.settings.button_mt
  assign button_height = section.settings.button_height
  assign button_padding_vertical = section.settings.button_padding_vertical
  assign button_padding_horizontal = section.settings.button_padding_horizontal
  assign button_radius = section.settings.button_radius
  assign button_border_thickness = section.settings.button_border_thickness
  assign button_border_color = section.settings.button_border_color
  assign button_border_hover_color = section.settings.button_border_hover_color
  assign button_bg_color = section.settings.button_bg_color
  assign button_bg_hover_color = section.settings.button_bg_hover_color
  assign button_align = section.settings.button_align
  assign button_align_mobile = section.settings.button_align_mobile
  assign button_arrow = section.settings.button_arrow

  assign scrolling_mt = section.settings.scrolling_mt
  assign scrolling_velocity = section.settings.scrolling_velocity

  assign pause_hover = section.settings.pause_hover

  assign slide_width = section.settings.slide_width
  assign slide_width_mobile = section.settings.slide_width_mobile
  assign slide_gap = section.settings.slide_gap
  assign slide_radius = section.settings.slide_radius
  assign slide_border_thickness = section.settings.slide_border_thickness
  assign slide_overlay = section.settings.slide_overlay
  assign slide_padding_horizontal = section.settings.slide_padding_horizontal
  assign slide_padding_vertical = section.settings.slide_padding_vertical
    
  assign title_size = section.settings.title_size
  assign title_size_mobile = section.settings.title_size_mobile
  assign title_color = section.settings.title_color
  assign title_custom = section.settings.title_custom
  assign title_font = section.settings.title_font
  assign title_height = section.settings.title_height
  assign title_align_mobile = section.settings.title_align_mobile
  assign title_align = section.settings.title_align

  assign product_button = section.settings.product_button
  assign product_button_size = section.settings.product_button_size
  assign product_button_size_mobile = section.settings.product_button_size_mobile
  assign product_button_custom = section.settings.product_button_custom
  assign product_button_font = section.settings.product_button_font
  assign product_button_mt = section.settings.product_button_mt
  assign product_button_height = section.settings.product_button_height
  assign product_button_padding_vertical = section.settings.product_button_padding_vertical
  assign product_button_padding_horizontal = section.settings.product_button_padding_horizontal
  assign product_button_radius = section.settings.product_button_radius
  assign product_button_border_thickness = section.settings.product_button_border_thickness
  assign product_button_align = section.settings.product_button_align
  assign product_button_align_mobile = section.settings.product_button_align_mobile
  assign product_button_arrow = section.settings.product_button_arrow

  assign text_color = section.settings.text_color
  assign text_custom = section.settings.text_custom
  assign text_font = section.settings.text_font
  assign text_height = section.settings.text_height
  assign text_align = section.settings.text_align
  assign text_align_mobile = section.settings.text_align_mobile
-%}

{%- style -%}

  {{  heading_font | font_face: font_display: 'swap' }}
  {{  sub_heading_font | font_face: font_display: 'swap' }}
  {{  button_font | font_face: font_display: 'swap' }}
  {{  title_font | font_face: font_display: 'swap' }}
  {{  product_button_font | font_face: font_display: 'swap' }}
  {{  text_font | font_face: font_display: 'swap' }}
  
  .section-{{ section.id }} {
    border-top: solid {{ border_color }} {{ border_thickness }}px;
    border-bottom: solid {{ border_color }} {{ border_thickness }}px;
    margin-top: {{ margin_top | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ margin_bottom | times: 0.75 | round: 0 }}px;
    overflow: hidden;
  }
  
  .section-{{ section.id }}-settings {
    margin: 0 auto;
    padding-top: {{ padding_top | times: 0.75 | round: 0 }}px;
    padding-left: {{ padding_horizontal_mobile }}rem;
    padding-right: {{ padding_horizontal_mobile }}rem;
  }

  .hero-heading-{{ section.id }} {
    text-align: {{ heading_align_mobile }};
  }

  .hero-heading-{{ section.id }} * {
    margin: 0;
    font-size: {{ heading_size_mobile }}px;
    color: {{ heading_color }};
    line-height: {{ heading_height }}%;
    text-transform: unset;
  }

  .hero-subheading-{{ section.id }} {
    margin-top: {{ sub_heading_mt | times: 0.75 | round: 0 }}px;
    text-align: {{ sub_heading_align_mobile }};
  }

  .hero-subheading-{{ section.id }} * {
    margin: 0;
    font-size: {{ sub_heading_size_mobile }}px;
    color: {{ sub_heading_color }};
    line-height: {{ sub_heading_height }}%;
    text-transform: unset;
  }

  .hero-button-{{ section.id }} {
    margin-top: {{ button_mt | times: 0.75 | round: 0 }}px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: fit-content;
    gap: 5px;
    font-size: {{ button_size_mobile }}px;
    font-weight: 700;
    color: {{ button_color }};
    line-height: {{ button_height }}%;
    text-align: center;
    text-transform: unset;
    text-decoration: none;
    padding: {{ button_padding_vertical | times: 0.75 | round: 0 }}px {{ button_padding_horizontal | times: 0.75 | round: 0 }}px;
    border-radius: {{ button_radius }}px;
    border: {{ button_border_thickness }}px solid {{ button_border_color }};
    background-color: {{ button_bg_color }};
    transition: all 0.25s ease 0s;
    position: relative;
    z-index: 2;
  }

  .hero-button-{{ section.id }}:hover {
    color: {{ button_hover_color }};
    border: {{ button_border_thickness }}px solid {{ button_border_hover_color }};
    background-color: {{ button_bg_hover_color }};
    transition: all 0.25s ease 0s;
  }

  .hero-button-{{ section.id }} svg path {
    fill: {{ button_color }};
  }

  .hero-button-{{ section.id }}:hover svg path {
    fill: {{ button_hover_color }};
  }

  .hero-scrolling-{{ section.id }} {
    display: grid;
    margin: 0;
    margin-top: {{ scrolling_mt | times: 0.75 | round: 0 }}px;
    /* max-width: 100vw; */
    {% if full_width %}
    max-width: 100%;
    {% else %}
    max-width: {{ content_width }}rem;
    {% endif %}
    margin-inline: auto;
    overflow: hidden;
    width: 100vw;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding-bottom: {{ padding_bottom | times: 0.75 | round: 0 }}px;
  }

  .hero-scrolling-inner-{{ section.id }} {
    max-width: unset;
    overflow: auto !important;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: {{ slide_gap | times: 0.75 | round: 0 }}px;
    --card-play-duration: {{ scrolling_velocity }}s;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding: 1px 0px;
  }

  .hero-scrolling-{{ section.id }}:not(.paused) .hero-scrolling-inner-{{ section.id }}{
    --card-play-state: running;
  }

  .hero-scrolling-{{ section.id }}.paused .hero-scrolling-inner-{{ section.id }}{
    --card-play-state: paused;
  }

  .hero-scrolling-item-{{ section.id }} {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    animation-direction: normal;
    animation-duration: var(--card-play-duration);
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: hero-slider-card-marquee;
    animation-play-state: var(--card-play-state);
    animation-timing-function: linear;
    gap: {{ slide_gap | times: 0.75 | round: 0 }}px;
  }

  .hero-scrolling-slide-{{ section.id }} {
    width: {{ slide_width_mobile }}px;
  }

  .hero-scrolling-card-{{ section.id }} {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    text-decoration: none;
    position: relative;
    border-radius: {{ slide_radius }}px;
    overflow: hidden;
    cursor: pointer;
    padding: {{ slide_padding_vertical | times: 0.75 | round: 0 }}px {{ slide_padding_horizontal | times: 0.75 | round: 0 }}px;
  }

  .hero-scrolling-card-{{ section.id }}:not(.hero-scrolling-card-product-{{ section.id }}):after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, {{ slide_overlay }});
    z-index: 2;
    opacity: 0;
    transition: all 0.25s ease 0s;
  }

  .hero-scrolling-card-{{ section.id }}:not(:first-child) {
    margin-top: {{ slide_gap | times: 0.75 | round: 0 }}px;
  }

  .hero-scrolling-card-image-{{ section.id }} {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.25s ease 0s;
  }

  .hero-scrolling-card-image-{{ section.id }} img,
  .hero-scrolling-card-image-{{ section.id }} svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .hero-scrolling-card-image-{{ section.id }} svg {
    background-color: #DADADA;
  }

  .hero-product-title-{{ section.id }} {
    display: block;
    width: 100%;
    text-align: {{ title_align_mobile }};
    margin: 0;
    font-size: {{ title_size_mobile }}px;
    line-height: {{ title_height }}%;
    text-transform: unset;
    font-weight: 700;
  }

  .hero-product-button-{{ section.id }} {
    margin-top: {{ product_button_mt | times: 0.75 | round: 0 }}px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: fit-content;
    gap: 5px;
    font-size: {{ product_button_size_mobile }}px;
    font-weight: 700;
    line-height: {{ product_button_height }}%;
    text-align: center;
    text-transform: unset;
    text-decoration: none;
    padding: {{ product_button_padding_vertical | times: 0.75 | round: 0 }}px {{ product_button_padding_horizontal | times: 0.75 | round: 0 }}px;
    border-radius: {{ product_button_radius }}px;
    transition: all 0.25s ease 0s;
  }

  .hero-card-text-{{ section.id }} {
    margin: 0;
    line-height: {{ text_height }}%;
    text-transform: unset;
    display: block;
    width: 100%;
    text-align: {{ text_align_mobile }};
    font-weight: 700;
  }

  @keyframes hero-slider-card-marquee {
    0% {
        transform: translate(0);
    }
    100% {
        transform: translate(-100%);
    }
  }
  
  @media(min-width: 1024px) {

    .section-{{ section.id }} {
      margin-top: {{ margin_top }}px;
      margin-bottom: {{ margin_bottom }}px;
    }
    
    .section-{{ section.id }}-settings {
      padding: 0 5rem;
      padding-top: {{ padding_top }}px;
      padding-left: {{ padding_horizontal }}rem;
      padding-right: {{ padding_horizontal }}rem;
    }

    .hero-heading-{{ section.id }} {
      text-align: {{ heading_align }};
    }

    .hero-heading-{{ section.id }} * {
      font-size: {{ heading_size }}px;
    }

    .hero-subheading-{{ section.id }} {
      margin-top: {{ sub_heading_mt }}px;
      text-align: {{ sub_heading_align }};
    }

    .hero-subheading-{{ section.id }} * {
      font-size: {{ sub_heading_size }}px;
    }

    .hero-button-{{ section.id }} {
      margin-top: {{ button_mt }}px;
      padding: {{ button_padding_vertical }}px {{ button_padding_horizontal }}px;
      font-size: {{ button_size }}px;
    }

    .hero-scrolling-{{ section.id }} {
      margin-top: {{ scrolling_mt }}px;
      padding-bottom: {{ padding_bottom }}px;
    }

    .hero-scrolling-inner-{{ section.id }} {
       gap: {{ slide_gap }}px;
    }

    .hero-scrolling-item-{{ section.id }} {
      gap: {{ slide_gap }}px;
    }

    .hero-scrolling-slide-{{ section.id }} {
      width: {{ slide_width }}px;
    }

    .hero-scrolling-card-{{ section.id }} {
      padding: {{ slide_padding_vertical }}px {{ slide_padding_horizontal }}px;
    }

    .hero-scrolling-card-{{ section.id }}:not(:first-child) {
      margin-top: {{ slide_gap | times: 0.75 | round: 0 }}px;
    }

    .hero-product-title-{{ section.id }} {
      text-align: {{ title_align }};
      font-size: {{ title_size }}px;
    }

    .hero-product-button-{{ section.id }} {
      margin-top: {{ product_button_mt }}px;
      padding: {{ product_button_padding_vertical }}px {{ product_button_padding_horizontal }}px;
      font-size: {{ product_button_size }}px;
    }

    .hero-card-text-{{ section.id }} {
      text-align: {{ text_align }};
    }

    .hero-scrolling-card-{{ section.id }}:hover:after {
      opacity: 1;
      transition: all 0.25s ease 0s;
    } 
  
    .hero-scrolling-card-product-{{ section.id }}:hover .hero-scrolling-card-image-{{ section.id }} {
      opacity: 0;
      pointer-events: none;
      transition: all 0.25s ease 0s;
    }
  }
  
{%- endstyle -%}

{% unless full_width %}
  <style>
    .section-{{ section.id }}-settings {
      max-width: {{ content_width }}rem;
    }
  </style>
{% endunless %}

{% if heading_custom %}
  <style>
    .hero-heading-{{ section.id }} * {
      font-family: {{ heading_font.family }}, {{ heading_font.fallback_families }};
      font-weight: {{ heading_font.weight }};
      font-style: {{ heading_font.style }};
    }
  </style>
{% endif %}

{% if sub_heading_custom %}
  <style>
    .hero-subheading-{{ section.id }} * {
      font-family: {{ sub_heading_font.family }}, {{ sub_heading_font.fallback_families }};
      font-weight: {{ sub_heading_font.weight }};
      font-style: {{ sub_heading_font.style }};
    }
  </style>
{% endif %}

{% if button_custom %}
  <style>
    .hero-button-{{ section.id }} {
      font-family: {{ button_font.family }}, {{ button_font.fallback_families }};
      font-weight: {{ button_font.weight }};
      font-style: {{ button_font.style }};
    }
  </style>
{% endif %}

{% if title_custom %}
  <style>
    .hero-product-title-{{ section.id }} {
      font-family: {{ title_font.family }}, {{ title_font.fallback_families }};
      font-weight: {{ title_font.weight }};
      font-style: {{ title_font.style }};
    }
  </style>
{% endif %}

{% if product_button_custom %}
  <style>
    .hero-product-button-{{ section.id }} {
      font-family: {{ product_button_font.family }}, {{ product_button_font.fallback_families }};
      font-weight: {{ product_button_font.weight }};
      font-style: {{ product_button_font.style }};
    }
  </style>
{% endif %}

{% if text_custom %}
  <style>
    .hero-card-text-{{ section.id }} {
      font-family: {{ text_font.family }}, {{ text_font.fallback_families }};
      font-weight: {{ text_font.weight }};
      font-style: {{ text_font.style }};
    }
  </style>
{% endif %}

{% if button_align_mobile == "center" %}
  <style>
   .hero-button-{{ section.id }} {
      margin-left: auto;
      margin-right: auto;
    } 
  </style>
{% elsif button_align_mobile == "right" %}
  <style>
   .hero-button-{{ section.id }} {
      margin-left: auto;
    } 
  </style>
{% endif %}

{% if button_align == "center" %}
  <style>
    @media(min-width: 1024px) {
     .hero-button-{{ section.id }} {
        margin-left: auto !important;
        margin-right: auto !important;
      } 
    }
  </style>
{% elsif button_align == "right" %}
  <style>
    @media(min-width: 1024px) {
     .hero-button-{{ section.id }} {
        margin-left: auto !important;
        margin-right: 0px !important;
      } 
    }
  </style>
{% else %}
  <style>
    @media(min-width: 1024px) {
     .hero-button-{{ section.id }} {
        margin-left: 0px !important;
        margin-right: 0px !important;
      } 
    }
  </style>
{% endif %}

{% if product_button_align_mobile == "center" %}
  <style>
   .hero-product-button-{{ section.id }} {
      margin-left: auto;
      margin-right: auto;
    } 
  </style>
{% elsif product_button_align_mobile == "right" %}
  <style>
   .hero-product-button-{{ section.id }} {
      margin-left: auto;
    } 
  </style>
{% endif %}

{% if product_button_align == "center" %}
  <style>
    @media(min-width: 1024px) {
     .hero-product-button-{{ section.id }} {
        margin-left: auto !important;
        margin-right: auto !important;
      } 
    }
  </style>
{% elsif product_button_align == "right" %}
  <style>
    @media(min-width: 1024px) {
     .hero-product-button-{{ section.id }} {
        margin-left: auto !important;
        margin-right: 0px !important;
      } 
    }
  </style>
{% else %}
  <style>
    @media(min-width: 1024px) {
     .hero-product-button-{{ section.id }} {
        margin-left: 0px !important;
        margin-right: 0px !important;
      } 
    }
  </style>
{% endif %}

{% if pause_hover %}
  <style>
    .hero-scrolling-{{ section.id }}:hover .hero-scrolling-inner-{{ section.id }}{
      --card-play-state: paused;
    }
  </style>
{% endif %}

{% for block in section.blocks %}

  <style>
    .hero-scrolling-card-{{ block.id }} {
      background-color: {{ block.settings.slide_bg_color }};
      border: {{ slide_border_thickness }}px solid {{ block.settings.slide_border_color }};
      justify-content: {{ block.settings.content_vertical_align_mobile }};
    }

    .hero-scrolling-card-{{ block.id }} .hero-product-title-{{ section.id }} {
      color: {{ block.settings.title_color }};
    }

    .hero-scrolling-card-{{ block.id }} .hero-product-button-{{ section.id }} {
      color: {{ block.settings.button_color }};
      background-color: {{ block.settings.button_bg_color }};
      border: {{ product_button_border_thickness }}px solid {{ block.settings.button_border_color }};
    }

    .hero-scrolling-card-{{ block.id }} .hero-product-button-{{ section.id }} svg path {
      fill: {{ block.settings.button_color }};
    }

    .hero-scrolling-card-{{ block.id }} .hero-product-button-{{ section.id }}:hover {
      transition: all 0.25s ease 0s;
      color: {{ block.settings.button_hover_color }};
      background-color: {{ block.settings.button_bg_hover_color }};
      border: {{ product_button_border_thickness }}px solid {{ block.settings.button_border_hover_color }};
    }

    .hero-scrolling-card-{{ block.id }} .hero-product-button-{{ section.id }}:hover svg path {
      fill: {{ block.settings.button_hover_color }};
    }

    .hero-scrolling-card-{{ block.id }} .hero-card-text-{{ section.id }} {
      color: {{ block.settings.text_color }};
      font-size: {{ block.settings.text_size_mobile }}px;
    }

    @media(min-width: 1024px) {
      .hero-scrolling-card-{{ block.id }} {
        justify-content: {{ block.settings.content_vertical_align }};
      }

      .hero-scrolling-card-{{ block.id }} .hero-card-text-{{ section.id }} {
        font-size: {{ block.settings.text_size }}px;
      }
    }
  </style>

  {% if block.settings.card_size == "small" %}
    <style>
      .hero-scrolling-card-{{ block.id }} {
        aspect-ratio: 1/0.43;
      }
    </style>
  {% elsif block.settings.card_size == "medium" %}
    <style>
      .hero-scrolling-card-{{ block.id }} {
        aspect-ratio: 1/0.67;
      }
    </style>
  {% elsif block.settings.card_size == "big" %}
    <style>
      .hero-scrolling-card-{{ block.id }} {
        aspect-ratio: 1/1;
      }
    
    </style>
  {% elsif block.settings.card_size == "large" %}
    <style>
      .hero-scrolling-card-{{ block.id }} {
        aspect-ratio: 1/1.24;
      }
    </style>
  {% endif %}
  
{% endfor %}

<div class="section-{{ section.id }} hero-{{ section.id }}" style="background-color:{{ background_color }}; background-image: {{ background_gradient }};">
  <div class="section-{{ section.id }}-settings">
    {% if heading != blank %}
      <div class="hero-heading-{{ section.id }}">{{ heading }}</div>
    {% endif %}

    {% if sub_heading != blank %}
      <div class="hero-subheading-{{ section.id }}">{{ sub_heading }}</div>
    {% endif %}
    
    {% if button != blank %}
      <a href="{{ button_url }}" class="hero-button-{{ section.id }}">
        {{ button }}
        {% if button_arrow %}
          <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 6.625H15M15 6.625L9.33962 1M15 6.625L9.33962 12.25" stroke="currentColor" stroke-width="1.25"></path>
          </svg>
        {% endif %}
      </a>
    {% endif %}
  </div>

  <div class="hero-scrolling-{{ section.id }}">
    <div class="hero-scrolling-inner-{{ section.id }}">
      {% for i in (1..4) %}
        <div class="hero-scrolling-item-{{ section.id }}">
          {% for block in section.blocks %}
            {% assign index = forloop.index0 | modulo: 2 %}
            {% if index == 0 %}
              <div class="hero-scrolling-slide-{{ section.id }}">
            {% endif %}
            
              <{% if block.settings.url != blank %}a href="{{ block.settings.url }}"{% elsif block.settings.product != blank %}a href="{{ block.settings.product.url }}"{% else %}div{% endif %} class="hero-scrolling-card-{{ section.id }} hero-scrolling-card-{{ block.id }} {% if block.settings.product != blank or block.settings.text != blank and block.settings.image != blank %}hero-scrolling-card-product-{{ section.id }}{% endif %}">
                <div class="hero-scrolling-card-image-{{ section.id }}">
                  {% if block.settings.image != blank %}
                    <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt }}" {% if lazy %}loading="lazy"{% endif %}>
                  {% elsif block.settings.product.featured_image != blank %}
                    <img src="{{ block.settings.product.featured_image | image_url }}" alt="{{ block.settings.product.featured_image.alt }}" {% if lazy %}loading="lazy"{% endif %}>
                  {% endif %}
                </div>
                {% if block.settings.product != blank %}
                  <h2 class="hero-product-title-{{ section.id }}">{{ block.settings.product.title }}</h2>
                  
                  {% if product_button != blank %}
                    <div class="hero-product-button-{{ section.id }}">
                      {{ product_button }}
                      
                      {% if product_button_arrow %}
                        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M0 6.625H15M15 6.625L9.33962 1M15 6.625L9.33962 12.25" stroke="currentColor" stroke-width="1.25"></path>
                        </svg>
                      {% endif %}
                    </div>
                  {% endif %}
                {% endif %}

              {% if block.settings.text != blank %}
                <p class="hero-card-text-{{ section.id }}">{{ block.settings.text }}</p>
              {% endif %}
              </{% if block.settings.url != blank %}a{% elsif block.settings.product != blank %}a{% else %}div{% endif %}>
            
            {% if index == 1 or forloop.last %}
              </div>
            {% endif %}
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>
  
</div>

{% schema %}
  {
    "name": "SS - Hero #7",
    "settings": [
      {
        "type": "header",
        "content": "Heading Settings"
      },
      {
        "type": "richtext",
        "id": "heading",
        "label": "Heading",
        "default": "<h1>Awesome brand.<br>Engaging headline.</h1>"
      },
      {
        "type": "checkbox",
        "id": "heading_custom",
        "label": "Use Custom Font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "heading_font",
        "label": "Heading Font Family",
        "default": "josefin_sans_n4"
      },
      {
        "type": "range",
        "id": "heading_size",
        "min": 0,
        "max": 120,
        "step": 2,
        "unit": "px",
        "label": "Heading Size",
        "default": 44
      },
      {
        "type": "range",
        "id": "heading_size_mobile",
        "min": 0,
        "max": 72,
        "step": 2,
        "unit": "px",
        "label": "Heading Size - Mobile",
        "default": 28
      },
      {
        "type": "range",
        "id": "heading_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Heading Line Height",
        "default": 130
      },
      {
        "type": "text_alignment",
        "id": "heading_align",
        "label": "Heading Text Align",
        "default": "center"
      },
      {
        "type": "text_alignment",
        "id": "heading_align_mobile",
        "label": "Heading Text Align - Mobile",
        "default": "center"
      },
      {
        "type": "header",
        "content": "Sub-Heading Settings"
      },
      {
        "type": "richtext",
        "id": "sub_heading",
        "label": "Sub-Heading",
        "default": "<p>A better way of doing things.</p>"
      },
      {
        "type": "checkbox",
        "id": "sub_heading_custom",
        "label": "Use Custom Font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "sub_heading_font",
        "label": "Sub-Heading Font Family",
        "default": "josefin_sans_n4"
      },
      {
        "type": "range",
        "id": "sub_heading_size",
        "min": 0,
        "max": 120,
        "step": 2,
        "unit": "px",
        "label": "Sub-Heading Size",
        "default": 24
      },
      {
        "type": "range",
        "id": "sub_heading_size_mobile",
        "min": 0,
        "max": 72,
        "step": 2,
        "unit": "px",
        "label": "Sub-Heading Size - Mobile",
        "default": 18
      },
      {
        "type": "range",
        "id": "sub_heading_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Sub-Heading Line Height",
        "default": 130
      },
      {
        "type": "range",
        "id": "sub_heading_mt",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Sub-Heading Margin Top",
        "default": 20
      },
      {
        "type": "text_alignment",
        "id": "sub_heading_align",
        "label": "Sub-Heading Text Align",
        "default": "center"
      },
      {
        "type": "text_alignment",
        "id": "sub_heading_align_mobile",
        "label": "Sub-Heading Text Align - Mobile",
        "default": "center"
      },
      {
        "type": "header",
        "content": "Button Settings"
      },
      {
        "type": "text",
        "id": "button",
        "label": "Button Text",
        "default": "SHOP NOW"
      },
      {
        "type": "url",
        "id": "button_url",
        "label": "Button URL"
      },
      {
        "type": "checkbox",
        "id": "button_custom",
        "label": "Use Custom Font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "button_font",
        "label": "Button Font Family",
        "default": "josefin_sans_n4"
      },
      {
        "type": "range",
        "id": "button_size",
        "min": 0,
        "max": 72,
        "step": 2,
        "unit": "px",
        "label": "Button Size",
        "default": 14
      },
      {
        "type": "range",
        "id": "button_size_mobile",
        "min": 0,
        "max": 72,
        "step": 2,
        "unit": "px",
        "label": "Button Size - Mobile",
        "default": 14
      },
      {
        "type": "range",
        "id": "button_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Button Line Height",
        "default": 100
      },
      {
        "type": "range",
        "id": "button_mt",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Button Margin Top",
        "default": 40
      },
      {
        "type": "range",
        "id": "button_padding_vertical",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Button Padding Vertical",
        "default": 14
      },
      {
        "type": "range",
        "id": "button_padding_vertical_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Button Padding Vertical - Mobile",
        "default": 14
      },
      {
         "type": "range",
         "id": "button_padding_horizontal",
         "min": 0,
         "max": 100,
         "step": 2,
         "unit": "px",
         "label": "Button Padding Horizontal",
         "default": 30
      },
      {
         "type": "range",
         "id": "button_padding_horizontal_mobile",
         "min": 0,
         "max": 100,
         "step": 2,
         "unit": "px",
         "label": "Button Padding Horizontal - Mobile",
         "default": 30
      },
      {
         "type": "range",
         "id": "button_radius",
         "min": 0,
         "max": 100,
         "step": 2,
         "unit": "px",
         "label": "Button Border Radius",
         "default": 26
      },
      {
         "type": "range",
         "id": "button_border_thickness",
         "min": 0,
         "max": 10,
         "step": 1,
         "unit": "px",
         "label": "Button Border Thickness",
         "default": 0
      },
      {
        "type": "select",
        "id": "button_align",
        "label": "Button Align",
        "default": "center",
        "options": [
          {
            "label": "Left",
            "value": "left"
          },
          {
            "label": "Center",
            "value": "center"
          },
          {
            "label": "Right",
            "value": "right"
          }
        ]
      },
      {
        "type": "select",
        "id": "button_align_mobile",
        "label": "Button Align - Mobile",
        "default": "center",
        "options": [
          {
            "label": "Left",
            "value": "left"
          },
          {
            "label": "Center",
            "value": "center"
          },
          {
            "label": "Right",
            "value": "right"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "button_arrow",
        "label": "Use Button Arrow",
        "default": true
      },
      {
        "type": "header",
        "content": "Scrolling Settings"
      },
      {
        "type": "range",
        "id": "scrolling_velocity",
        "min": 1,
        "max": 100,
        "step": 1,
        "label": "Scrolling speed",
        "info": "⚡ <----------------> 🐌",
        "default": 30
      },
      {
        "type": "range",
        "id": "scrolling_mt",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Scrolling Margin Top",
        "default": 40
      },
      {
        "type": "checkbox",
        "id": "pause_hover",
        "label": "Pause on Hover",
        "default": true
      },
      {
        "type": "header",
        "content": "Slide Settings"
      },
      {
        "type": "range",
        "id": "slide_width",
        "min": 200,
        "max": 600,
        "step": 5,
        "unit": "px",
        "label": "Slide Width",
        "default": 285
      },
      {
        "type": "range",
        "id": "slide_width_mobile",
        "min": 100,
        "max": 600,
        "step": 5,
        "unit": "px",
        "label": "Slide Width - Mobile",
        "default": 145
      },
      {
        "type": "range",
        "id": "slide_padding_horizontal",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Slide Padding Horizontal",
        "default": 24
      },
      {
        "type": "range",
        "id": "slide_padding_vertical",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Slide Padding Verical",
        "default": 32
      },
      {
        "type": "range",
        "id": "slide_gap",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Slide Gap",
        "default": 20
      },
      {
        "type": "range",
        "id": "slide_radius",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Slide Border Radius",
        "default": 16
      },
      {
        "type": "range",
        "id": "slide_border_thickness",
        "min": 0,
        "max": 10,
        "step": 1,
        "unit": "px",
        "label": "Slide Border Thickness",
        "default": 1
      },
      {
         "type": "range",
         "id": "slide_overlay",
         "min": 0,
         "max": 1,
         "step": 0.1,
         "unit": "px",
         "label": "Slide Overlay",
         "default": 0.2
      },
      {
        "type": "header",
        "content": "Product Title Settings"
      },
      {
        "type": "checkbox",
        "id": "title_custom",
        "label": "Use Custom Font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "title_font",
        "label": "Product Title Font Family",
        "default": "josefin_sans_n4"
      },
      {
        "type": "range",
        "id": "title_size",
        "min": 0,
        "max": 40,
        "step": 2,
        "unit": "px",
        "label": "Product Title Size",
        "default": 14
      },
      {
        "type": "range",
        "id": "title_size_mobile",
        "min": 0,
        "max": 40,
        "step": 2,
        "unit": "px",
        "label": "Product Title Size - Mobile",
        "default": 14
      },
      {
        "type": "range",
        "id": "title_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Product Title Line Height",
        "default": 130
      },
      {
        "type": "text_alignment",
        "id": "title_align",
        "label": "Product Title Align"
      },
      {
        "type": "text_alignment",
        "id": "title_align_mobile",
        "label": "Product Title Align - Mobile"
      },
      {
        "type": "header",
        "content": "Product Button Settings"
      },
      {
        "type": "text",
        "id": "product_button",
        "label": "Product Button Text",
        "default": "SHOP"
      },
      {
        "type": "checkbox",
        "id": "product_button_custom",
        "label": "Use Custom Font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "product_button_font",
        "label": "Product Button Font Family",
        "default": "josefin_sans_n4"
      },
      {
        "type": "range",
        "id": "product_button_size",
        "min": 0,
        "max": 72,
        "step": 2,
        "unit": "px",
        "label": "Product Button Size",
        "default": 14
      },
      {
        "type": "range",
        "id": "product_button_size_mobile",
        "min": 0,
        "max": 72,
        "step": 2,
        "unit": "px",
        "label": "Product Button Size - Mobile",
        "default": 14
      },
      {
        "type": "range",
        "id": "product_button_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Product Button Line Height",
        "default": 100
      },
      {
        "type": "range",
        "id": "product_button_mt",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Product Button Margin Top",
        "default": 10
      },
      {
        "type": "range",
        "id": "product_button_padding_vertical",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Product Button Padding Vertical",
        "default": 14
      },
      {
        "type": "range",
        "id": "product_button_padding_vertical_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Product Button Padding Vertical - Mobile",
        "default": 10
      },
      {
         "type": "range",
         "id": "product_button_padding_horizontal",
         "min": 0,
         "max": 100,
         "step": 2,
         "unit": "px",
         "label": "Product Button Padding Horizontal",
         "default": 30
      },
      {
         "type": "range",
         "id": "product_button_padding_horizontal_mobile",
         "min": 0,
         "max": 100,
         "step": 2,
         "unit": "px",
         "label": "Product Button Padding Horizontal - Mobile",
         "default": 30
      },
      {
         "type": "range",
         "id": "product_button_radius",
         "min": 0,
         "max": 100,
         "step": 2,
         "unit": "px",
         "label": "Product Button Border Radius",
         "default": 26
      },
      {
         "type": "range",
         "id": "product_button_border_thickness",
         "min": 0,
         "max": 10,
         "step": 1,
         "unit": "px",
         "label": "Product Button Border Thickness",
         "default": 0
      },
      {
        "type": "select",
        "id": "product_button_align",
        "label": "Product Button Align",
        "default": "left",
        "options": [
          {
            "label": "Left",
            "value": "left"
          },
          {
            "label": "Center",
            "value": "center"
          },
          {
            "label": "Right",
            "value": "right"
          }
        ]
      },
      {
        "type": "select",
        "id": "product_button_align_mobile",
        "label": "Product Button Align - Mobile",
        "default": "left",
        "options": [
          {
            "label": "Left",
            "value": "left"
          },
          {
            "label": "Center",
            "value": "center"
          },
          {
            "label": "Right",
            "value": "right"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "product_button_arrow",
        "label": "Use Product Button Arrow",
        "default": true
      },
      {
        "type": "header",
        "content": "Card Text"
      },
      {
        "type": "checkbox",
        "id": "text_custom",
        "label": "Use Custom Font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "text_font",
        "label": "Card Text Font Family",
        "default": "josefin_sans_n4"
      },
      {
        "type": "range",
        "id": "text_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Card Text Line Height",
        "default": 130
      },
      {
        "type": "text_alignment",
        "id": "text_align",
        "label": "Card Text Text Align",
        "default": "center"
      },
      {
        "type": "text_alignment",
        "id": "text_align_mobile",
        "label": "Card Text Text Align - Mobile",
        "default": "center"
      },
      {
        "type": "header",
        "content": "Button Colors"
      },
      {
        "type": "color",
        "label": "Button Color",
        "id": "button_color",
        "default": "#000000"
      },
      {
        "type": "color",
        "label": "Button Hover Color",
        "id": "button_hover_color",
        "default": "#000000"
      },
      {
        "type": "color",
        "label": "Button Background Color",
        "id": "button_bg_color",
        "default": "#71a7f4"
      },
      {
        "type": "color",
        "label": "Button Background Hover Color",
        "id": "button_bg_hover_color",
        "default": "#71a7f4"
      },
      {
        "type": "color",
        "label": "Button Border Color",
        "id": "button_border_color",
        "default": "#000000"
      },
      {
        "type": "color",
        "label": "Button Border Hover Color",
        "id": "button_border_hover_color",
        "default": "#000000"
      },
      {
        "type": "header",
        "content": "Section Colors"
      },
      {
        "type": "color",
        "label": "Heading Color",
        "id": "heading_color",
        "default": "#000000"
      },
      {
        "type": "color",
        "label": "Sub-Heading Color",
        "id": "sub_heading_color",
        "default": "#000000"
      },
      {
        "type": "color",
        "label": "Section background",
        "id": "background_color",
        "default": "#FFFFFF"
      },
      {
        "type": "color_background",
        "id": "background_gradient",
        "label": "Section background gradient"
      },
      {
        "type": "color",
        "label": "Border",
        "id": "border_color",
        "default": "#000000"
      },
      {
        "type": "header",
        "content": "Section margin (outside)"
      },
      {
        "type": "range",
        "id": "margin_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Margin top",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Margin bottom",
        "default": 0
      },
      {
        "type": "header",
        "content": "Section padding (inside)"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Padding top",
        "default": 36
      },
      {
         "type": "range",
         "id": "padding_bottom",
         "min": 0,
         "max": 100,
         "step": 4,
         "unit": "px",
         "label": "Padding bottom",
         "default": 36
      },
      {
        "type": "range",
        "id": "padding_horizontal",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "rem",
        "label": "Padding sides",
        "default": 5
      },
      {
        "type": "range",
        "id": "padding_horizontal_mobile",
        "min": 0,
        "max": 15,
        "step": 0.5,
        "unit": "rem",
        "label": "Padding sides mobile",
        "default": 1.5
      },
      {
        "type": "header",
        "content": "Section Settings"
      },
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "Full Width",
        "default": true
      },
      {
        "type": "range",
        "id": "content_width",
        "min": 0,
        "max": 400,
        "step": 10,
        "unit": "rem",
        "label": "Section content width",
        "default": 120
      },
      {
        "type": "range",
        "id": "border_thickness",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Border thickness",
        "default": 0
      },
      {
        "type": "checkbox",
        "id": "lazy",
        "label": "Lazy load",
        "info": "Lazy load images for speed optimisation",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "card",
        "name": "Card",
        "settings": [
          {
            "type": "header",
            "content": "Slide Settings"
          },
          {
            "type": "select",
            "id": "card_size",
            "label": "Card Size",
            "default": "big",
            "options": [
              {
                "label": "Small",
                "value": "small"
              },
              {
                "label": "Medium",
                "value": "medium"
              },
              {
                "label": "Large",
                "value": "big"
              },
              {
                "label": "X-Large",
                "value": "large"
              }
            ]
          },
          {
            "type": "url",
            "id": "url",
            "label": "Slide URL"
          },
          {
            "type": "select",
            "id": "content_vertical_align",
            "label": "Content Vertical Align",
            "default": "center",
            "options": [
              {
                "label": "Top",
                "value": "start"
              },
              {
                "label": "Center",
                "value": "center"
              },
              {
                "label": "Bottom",
                "value": "end"
              }
            ]
          },
          {
            "type": "select",
            "id": "content_vertical_align_mobile",
            "label": "Content Vertical Align - Mobile",
            "default": "center",
            "options": [
              {
                "label": "Top",
                "value": "start"
              },
              {
                "label": "Center",
                "value": "center"
              },
              {
                "label": "Bottom",
                "value": "end"
              }
            ]
          },
          {
            "type": "header",
            "content": "Slide Content"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "Replaces the main product image"
          },
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          },
          {
            "type": "text",
            "id": "text",
            "label": "Text",
            "info": "If product or image is not selected"
          },
          {
            "type": "range",
            "id": "text_size",
            "min": 0,
            "max": 120,
            "step": 2,
            "unit": "px",
            "label": "Card Text Size",
            "default": 24
          },
          {
            "type": "range",
            "id": "text_size_mobile",
            "min": 0,
            "max": 72,
            "step": 2,
            "unit": "px",
            "label": "Card Text Size - Mobile",
            "default": 18
          },
          {
            "type": "header",
            "content": "Slide Colors"
          },
          {
            "type": "color",
            "label": "Slide Background Color",
            "id": "slide_bg_color",
            "default": "#E8E8ED"
          },
          {
            "type": "color",
            "label": "Slide Border Color",
            "id": "slide_border_color",
            "default": "#000000"
          },
          {
            "type": "color",
            "label": "Slide Product Title Color",
            "id": "title_color",
            "default": "#000000"
          },
          {
            "type": "color",
            "label": "Text Color",
            "id": "text_color",
            "default": "#000000"
          },
          {
            "type": "header",
            "content": "Slide Product Button Colors"
          },
          {
            "type": "color",
            "label": "Button Color",
            "id": "button_color",
            "default": "#000000"
          },
          {
            "type": "color",
            "label": "Button Hover Color",
            "id": "button_hover_color",
            "default": "#000000"
          },
          {
            "type": "color",
            "label": "Button Background Color",
            "id": "button_bg_color",
            "default": "#71a7f4"
          },
          {
            "type": "color",
            "label": "Button Background Hover Color",
            "id": "button_bg_hover_color",
            "default": "#71a7f4"
          },
          {
            "type": "color",
            "label": "Button Border Color",
            "id": "button_border_color",
            "default": "#000000"
          },
          {
            "type": "color",
            "label": "Button Border Hover Color",
            "id": "button_border_hover_color",
            "default": "#000000"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "SS - Hero #7",
        "blocks": [
          {
            "type": "card",
            "settings": {
              "card_size": "big"
            }
          },
          {
            "type": "card",
            "settings": {
              "card_size": "medium"
            }
          },
          {
            "type": "card",
            "settings": {
              "card_size": "large"
            }
          },
          {
            "type": "card",
            "settings": {
              "card_size": "small"
            }
          },
          {
            "type": "card",
            "settings": {
              "card_size": "medium"
            }
          },
          {
            "type": "card",
            "settings": {
              "card_size": "big"
            }
          },
          {
            "type": "card",
            "settings": {
              "card_size": "small"
            }
          },
          {
            "type": "card",
            "settings": {
              "card_size": "large"
            }
          }
        ]
      }
    ]
  }
{% endschema %}